



:root{
    --glass1: rgba(84, 106, 123, 0.2); 
    --main-color: #FFC300;
    --bg-color: #000000;
    --bg-header: #222;
    --text-color: #FDFDFF;
    --text2-color: #ffee99;
    --text-h3-color: #546A7B;
}