



:root{
    --glass1: rgba(121, 88, 21, 0.2); 
    --main-color: #FFE900;
    --bg-color: #546A7B;
    --bg-header: #222;
    --text-color: #FDFDFF;
    --text2-color: #F2AF29;
    --text-h3-color: #000000;
}