





:root{
    --glass1: rgba(139, 252, 0, 0.2); 

    --main-color: #DC0073;
    --bg-color: #6E46B6;

    --text-color: #F5B700;
    --text2-color: #3769D7;
    --text-h3-color: #04E762;

    --text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
}