



:root{

    --glass1: rgba(196, 113, 237, 0.2); 
    
    --main-color: #F17300;
    --main-color2: #3E7CB1;

    --bg-color: #81A4CD;
    --bg-header: #E6AC77;
    --text-color: #fff;
    --text2-color: #DBE4EE;
    --text-h3-color: #054A91;
}