




:root{
    --glass1: rgba(20, 36, 138, 0.1); 
    --main-color: #D4C2FC;
    --bg-color: #6D77B7;
    --bg-header: #222;
    --text-color: #fff;
    --text2-color: #b0abc7;
    --text-h3-color: #28262C;
}