



$poppins: 'Poppins', sans-serif;
$raleway: 'Raleway', sans-serif;
$black-ops: 'Black Ops One', cursive;
$fredericka: 'Fredericka the Great', cursive;
$rubix: 'Rubik 80s Fade', cursive;

$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
$box-shadow1: 20px 20px 50px rgba(0, 0, 0, 0.1);

$glass: linear-gradient(to top, 
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.1));

$glass1: rgba(255, 255, 255, 0.1);     

$header-height: 3rem;
$nav-width: 324px;

$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;

$first-color: #cc4b2c;
$first-color-dark: #662616;
$first-color-darken: #290f09;
$text-color: #54423d;
$text-color-light: #eae7e6;
$text-color-lighten: #fffafa;


$h1-font-size: 1.5rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1rem;
$mormal-font-size: 0.938rem;
$small-font-size: 0.813rem;
$smaller-font-size: 0.750rem;

$mb-1: 0.5rem;
$mb-2: 1rem;
$mb-3: 1.5rem;
$mb-4: 2rem;
$mb-5: 2.5rem;

$z-fixed: 100;

